<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>

<%= link_to 'Edit', edit_admin_railway_station_path %> |
<%= link_to 'Back', admin_railway_stations_path %>
