<p id="notice"><%= notice %></p>

<h1>Trains</h1>

<table>
  <thead>
  <tr>
    <th>Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @trains.each do |train| %>
      <%= render train %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Train', new_train_path %>
