<p id="notice"><%= notice %></p>

<h1>Railway Stations</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @railway_stations.each do |railway_station| %>
      <%= render railway_station %>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Railway Station', new_railway_station_path %>
