<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <thead>
  <tr>
    <th>Тип</th>
    <th>Номер поезда</th>
    <th>Номер вагона</th>
    <th>Кол-во верхних мест</th>
    <th>Кол-во нижних мест</th>
    <th>Кол-во верхних боковых мест</th>
    <th>Кол-во нижних боковых мест</th>
    <th>Кол-во сидячих мест</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: "wagon", collection: @wagons, as: :wagon %>
  </tbody>
</table>

<br>

<%= link_to 'New Wagon', new_train_wagon_path %>
