<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <thead>
  <tr>
    <th>Link</th>
    <th>ID</th>
  </tr>
  </thead>

  <tbody>
  <% @wagons.each do |wagon| %>
      <tr>
        <td><%= render @wagons %></td>
        <td><%= wagon.number %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wagon', new_train_wagon_path %>
