<h1>New Wagon</h1>

<%= form_for [@train, @wagon] do |f| %>

    <%= render 'form', wagon: @wagon %>

    <div class="actions">
      <%= f.submit "Create" %>
      <%= link_to 'Back', train_path(id: @train.id) %>
    </div>
<% end %>
