<p>
  <strong>Up seats:</strong>
  <%= @wagon.up_seats %>
</p>
<p>
  <strong>Down seats:</strong>
  <%= @wagon.down_seats %>
</p>
<p>
  <strong>Side up seats:</strong>
  <%= @wagon.side_up_seats %>
</p>
<p>
  <strong>Side down seats:</strong>
  <%= @wagon.side_down_seats %>
</p>